:root{
    --primary-text-color:  #212121;
    --title-text-color:#757575;
    --accent-color:#2196f3;
    --primary-bg-color:#ffffff;
}

body {
    color:var(--primary-text-color);
    background: var(--primary-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.7px;
    text-decoration: none;
}   

ul{
    list-style: none;
}
.logo {
   color: var(--primary-text-color); 
   font-family: raleway, sans-serif;
   text-decoration: none;
   font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
   
}
.accent {
    color: var(--accent-color);
    font-family: raleway, sans-serif;

}

/* цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* белый цвет  #ffffff */

/* акцент #2196F3 */

/*Hero*/
.hero{
    background-color: #2F303A;
}
.hero-title{
    color: var(--primary-bg-color);
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
}
.hero .button-link {
    color: var(--primary-bg-color);
    font-family: inherit;
    font-weight: 24px;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height:  1.9;
    display: flex;
    }
    .button-link:hover,
    .button-link:focus{
    color:#188ce8 ;
}


/* Site-nav*/

.site-nav .link{
color: var(--primary-text-color);
letter-spacing: 0.02em;
font-weight: 500;
line-height: 1.14;
text-decoration: none;
}
.site-nav. link:hover,
.site-nav. link:focus {
    color: #188ce8;
}
.site-nav .link.current{
color: var(--accent-color);

font-weight: 500;
line-height: 1.14px;
}
/* Contact-nav*/

.contact-nav .title{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 0.02em;

}
.contact-nav .title:hover,
.contact-nav .title:focus{
    color: var (var(--accent-color));
}
.contact-nav .title.current{
    color: var(--accent-color);
}

/* Section*/
.section-title{
     color: var(--primary-text-color) ;
     font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
 }
 /*Features */
 .features-list .title{
     color: var(--primary-text-color);
     font-weight: 700;
     line-height: 1.14;

 }
.description {
    color: var(--title-text-color);
    line-height: 1.7;
}

/* Comands*/
.workers{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.proffesion{
    color: var(--title-text-color );
    font-size: 16px;
    line-height: 1.2;
}
/* Button*/




/* Footer*/
.footer-logo{
    color: var(--primary-bg-color);
    background-color: #2F303A;
    font-weight: 700;
    font-size: 26px;
   
}
.addres{
    color: var(--primary-bg-color)
    background-color: #2F303A;
    line-height: 1.7;
    
}
 .street{
     color: var(--primary-bg-color);
     background-color: #2F303A;
 }

.addres-list{
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    line-height: 1.2;
    font-family: raleway, sans-serif;
}