:root{
    --primary-text-color:  #212121;
    --title-text-color:#757575;
    --accent-color:#2196f3;
    --primary-bg-color:#ffffff;
}

body {
    color:#212121 ;
    background: #ffffff;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1,7px;
}   

ul{
    list-style: none;
}
.logo {
   color: var(--primary-text-color); 
   font-family: raleway, sans-serif;
   letter-spacing: 0.03em;
   font-weight: bold;
    font-size: 26px;
    line-height: 1,2;
    text-decoration: none;
}
span .accent{
    color: var(--accent-color);
    font-family: raleway, sans-serif;
    letter-spacing: 0.03em;
}

/* цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* белый цвет  #ffffff */

/* акцент #2196F3 */

/*Hero*/
.hero-title{
    color: #ffffff;
    background-color: #2f303a;

    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,4;
    text-align: center;
}

/* Site-nav*/

.site-nav .link{
color: var(--primary-text-color) ;

letter-spacing: 0.02em;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
}
.site-nav. link:hover,
.site-nav. link:focus {
    color: var (--accent-color);
}
.site-nav .link.current{
color: var(--accent-color);

font-weight: 500;
font-size: 14px;
line-height: 1,14px;
}
/* Contact-nav*/

.contact-nav .title{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1,14px;
    letter-spacing: 0.02em;

}
.contact-nav .title:hover,
.contact-nav .title:focus{
    color: var (var(--accent-color));
}
.contact-nav .title.current{
    color: var(--accent-color);
}

/* Section*/
.section-title{
     color: var(--primary-text-color) ;
 }
 /*Features */
 .features-list .title{
     color: var(--primary-text-color);
    
     
 }
.description {
    color: var(--title-text-color);
}

/* Comands*/
.workers{
    color: var(--primary-text-color);
}
.proffesion{
    color: var(--title-text-color );
}
/* Button*/
.button{
color: var(--primary-bg-color);
background-color: var(--accent-color);

font-family: inherit;
font-weight: 24px;
display: inline-block;
letter-spacing: 0.06em;

}

/* Footer*/
.footer .logo{
    color: var(--primary-bg-color);

    font-family: raleway, sans-serif;
    letter-spacing: 0.03em;
}
.adres{
    color: var(--primary-bg-color);
    background-color: #2F303A;
}
.adres-list{
    color: var(--primary-bg-color);
}