:root{
    --primary-text-color:  #212121;
    --title-text-color:#757575;
    --accent-color:#2196f3;
    --primary-bg-color:#ffffff;
}

body {
    color:var(--primary-text-color) ;
    background: var(--primary-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1,7px;
    text-decoration: none;
}   
ul{
    list-style: none;
}
.logo {
   color: var(--primary-text-color); 
   font-family: raleway, sans-serif;
   letter-spacing: 0.03em;
   font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    text-decoration: none;
}
.accent{
    color: var(--accent-color);
    font-family: raleway, sans-serif;
    letter-spacing: 0.03em;
}

.contact-nav .title{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14px;
    letter-spacing: 0.02em;

}
.contact-nav .title:hover,
.contact-nav .title:focus{
    color: var (--accent-color);
}
.contact-nav .title.current{
    color: var(--accent-color);
}
.filter-title{
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.filter-list{
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1,9;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-logo{
    
        color: var(--primary-bg-color);
        background-color: #2F303A;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        text-decoration: none;
    }
    .addres{
        color: var(--primary-bg-color)
        background-color: #2F303A;
        text-decoration: none;
        font-size: 14px;
        line-height: 1,7;
        letter-spacing: 0.03em;
         }
    .street{
        color: var(--primary-bg-color);
        background-color: #2F303A;
    }
    .addres-list{
       color: rgba(255, 255, 255, 0.6);
       background-color: #2F303A;
      line-height: 1,2;
       font-family: raleway, sans-serif;
   }

 
 /* цвет основного текста #212121 */
 
 /* вторичный цвет текста #757575 */
 
 /* белый цвет  #ffffff */
 
 /* акцент #2196F3 */

 /* Site-nav*/

.site-nav .link{
    color: var(--primary-text-color) ;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    }
    .site-nav. link:hover,
    .site-nav. link:focus {
        color: var (--accent-color);
    }
    .site-nav .link.current{
    color: var(--accent-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14px;
    }

 
 .navigation .title{
     color: var(--primary-text-color);
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: 1,6;
 
     text-align: center;
 }
.navigation . title:hover,
.navigation . title:focus{
    color: var(--accent-color)
}

 .navigation .title-primary{
     color: var(--primary-bg-color ;
     background-color: var(--accent-color);
 
 }


 





 

 


